/* Contenedor principal para las piezas */
#pieces {
    display: none; /* Se muestra solo al iniciar */
}

/* Área donde se arma el rompecabezas */
#drop-zone {
    width: 300px; /* Ajustar según el tamaño de las piezas */
    height: 400px; /* Ajustar según el tamaño de las piezas */
    border: 2px dashed #000;
    position: relative;
    background-color: #f0f0f0;
    margin: 20px auto;
}

/* Estilo de las piezas del rompecabezas */
.puzzle-piece {
    cursor: grab;
    background-size: cover;
}

/* Botones de control */
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ccc;
}

/* Estilos específicos de los botones */
#start-button {
    background-color: #4caf50; /* Verde */
    color: white;
}

#reset-button {
    background-color: #f44336; /* Rojo */
    color: white;
}
